/****
Reset
****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/********
Global
********/
.container {
    margin: 0 auto;
    width: 2260px;
}

body {
    font-family: 'Helvetica Neue',Arial, Helvetica, sans-serif;
}

/*Bottoni*/ 
main button {
    all: unset;
    border-radius: 100px;
    font-size: 42px;
    padding: 20px;
    background-color: #23272a;
} 

header button {
    all: unset;
    border-radius: 30px;
    font-size: 32px;
    padding: 10px;
    background-color: #23272a;
} 

/********
Header
********/
header {
    background-color: #255ee9;
    padding: 16px 0px;
    font-size: 32px;
}

header .container{
    width: 2400px;
}

header nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav > * {
    padding: 10px;
    border: 1px dashed black;
    flex-shrink: 0;
}

header nav img {
    width: 250px;
    flex-shrink: 0;
}

header nav ul {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li {
    color: white;
}

header nav div {
    width: 250px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;   
}
header nav #nav-login {
    background-color: white;
    font-size: 28px;
    padding: 15px 20px;
}


/******
Main
******/
main section {
    padding-top: 200px;
    padding-bottom: 200px;
}

main section div.container {
    display: flex;
}

main > :nth-child(odd) {
    background-color: #f6f6f6;
}

/* Prima sezione main-header */
main section div.container.main-header {
    border: 1px dashed black;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: white;
    width: 1400px;
}

main section.main-header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

main section.main-header p {
    margin-bottom: 60px;
}

main section.main-header button:first-child {
    color: black;
    background-color: white;
}

/* Intestazioni e paragrafi generale */
h1 {
    font-size: 90px;
    margin-bottom: 60px;
}

h2 {
    font-size: 80px;
    margin-bottom: 80px;
    line-height: 1.5em;
}

main section p {
    font-size: 34px;
}

/* Sezioni centrali */
main section div.container.reverse {
    flex-direction: row-reverse;
}

.large-content {
    border: 1px dashed black;
    width: 60%;
}

.small-content {
    border: 1px dashed black;
    width: 40%;
    padding: 60px 160px 0px 60px;
}

/* Ultima sezione main-footer */
main section div.container.main-footer {
    border: 1px dashed black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3.stars {
    background-image: url(../img/stars.svg);
    background-size: cover;
    font-size: 70px;
    width: fit-content;
    margin-bottom: 80px;
}

main section div.container.main-footer p{
    padding: 0px 275px;
}

main section div.container.main-footer button {
    color: white;
    background-color: #7288da;
}

main section div.container.main-footer img {
    width: inherit;
}
/*******
Footer
*******/
footer > section {
    background-color: #23272a;
}

footer section .container {
    display: flex;
}

section.upper-foot {
    border-bottom: 1px solid #d3d3d3;
    padding: 10px 0px 40px;
}

section.lower-foot {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding-top: 30px;
}

section.upper-foot .single {
    background-color: #f08080;
    flex-grow: 2;
    border: 1px dashed black;
}

section.upper-foot .multiple {
    display: flex;
    background-color: #20b2aa;
    flex-grow: 4;
    border: 1px dashed black;
}

section.upper-foot .sub-multiple {
    flex-grow: 1;
    border: 1px dashed white;
}

footer section nav.container {
    padding: 20px 0px;
    background-color: #7fffd4;
    justify-content: space-between;
}

.foot-button {
    padding: 10px;
    background-color: #ffb6c1;
    border: 1px dashed black;
}




/***********************************
DEBUG   DA RIMUOVERE A FINE SVILUPPO
***********************************/
footer section div.container {
    height: 500px;
    background-color: #ee82ee;
}
